<style>
    .visor_proxima {
        font-size: 24em;
        text-align: center;
        margin-top: 50%;
        color:white;
    }

</style>


    <div class="visor_proxima">
        <%= h1 %>
    </div>
